# Configuration for running Board Service locally (npm start)
NODE_ENV=development
PORT=3002
AUTH_SERVICE_URL=http://localhost:3001 # Points to the public address of Auth Service

DB_HOST=127.0.0.1 
DB_USER=board_user
DB_PASSWORD=secure_board_pass
DB_NAME=board_database