# Configuration for running Auth Service locally (npm start)
NODE_ENV=development
PORT=3001
JWT_SECRET=Qw8!vZp2@rT7sLk9$eXy1^bGm6*oPq4

DB_HOST=127.0.0.1 
DB_USER=auth_user
DB_PASSWORD=secure_auth_pass
DB_NAME=auth_database