# Environment Configuration for Express Service
NODE_ENV=development

# PostgreSQL Configuration
DB_USER=your_mysql_username 
DB_PASSWORD=your_mysql_password 
DB_HOST=localhost
DB_DIALECT=mysql 
DB_NAME=tesing_db_devops # Make sure this DB exists 
# JWT_SECRET=your_very_long_and_random_jwt_secret_key_here 
PORT=3000 